<div class="mt-4">
    <form method="POST" >
  <div class="form-group">
    <label for="search-input">tu khoa</label>
    
    <input name="q" type="text" class="form-control" id="search-input"  placeholder="nhap tu khoa">
  
  </div>
  <div class="form-group">
    <label for="gender-input">tu khoa</label>
    
    <select name="gender"  class="form-control" id="gender-input" >
        <option value="" >--chon gioi tinh</option>
        <option value="male" >nam</option>
        <option value="female" >nu</option>
    
    </select>    
  
  </div>

  
  <button type="submit" class="btn btn-primary">tim kiem</button>
</form>
</div>

